#DATABASE ENVIRONMENT
DB_USER=
DB_HOST=
DB_DATABASE=
DB_PASSWORD=
DB_PORT=

#WEBAPP ENVIRONMENT
WEB_PORT=4200

#FIREBASE ENVIRONMENT
API_KEY=
AUTH_DOMAIN=
PROJECT_ID=
STORAGE_BUCKET=
MESSAGING_SENDER_ID=
APP_ID=
MEASUREMENT_ID=